.TenantsAndLandloard-container2 {
    /* height: 100vh; */
    /* background-color: aqua; */
    padding-top: 5rem;
    min-height: 100vh;
    align-items: stretch;

}

.TenantsAndLandloard-content2 {
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}


.TenantsAndLandloard-content2 .firstColumn {
    flex: 1;
    /* Ensures equal width for both columns */
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centers content vertically */
    /* padding: 3rem 8rem; */
    box-sizing: border-box;
    /* Includes padding in height calculations */
    color: white;
    /* For readability on black background */
}

.firstColumn-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0rem 10rem;
    padding-top: 3rem;
    gap: 2rem;
    height: 100%;
}

.firstColumn-content h1 {
    font-size: 34px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -0.4px;
}

.firstColumn-content p {
    font-size: 15px;
    opacity: 0.7;
    font-weight: 500;
    line-height: 160%;
    /* 25.6px */
}

.TenantsAndLandloard-content2 .secondColumn {
    flex: 1;
    /* Ensures equal width for both columns */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* Prevents overflow from the image */
}

.TenantsAndLandloard-content2 .secondColumn img {
    max-width: 100%;
    /* Prevents the image from exceeding the column width */
    max-height: 100%;
    /* Prevents the image from exceeding the column height */
    object-fit: contain;
    /* Maintains the image's aspect ratio */
}